.pokemon-card{
    background-color: rgb(133, 133, 241);
    box-shadow: rgb(82, 83, 81) 0px 7px 29px 0px;
    display: none;
}

.pokemon-card.open{
    display: block;
}

.pokemon-card .card-top{
    padding: 30px 40px 0;
}

.pokemon-card .name{
    margin-bottom: 5px;
}

.pokemon-card .type{
    font-size: 12px;
    background-color: white;
    border-radius: 10px;
    padding: 2px 10px;
    box-shadow: rgba(100, 100, 111,0.2) 0px 7px 29px 0px;
}

.pokemon-card .details{
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pokemon-card img{
    max-height: 100%;
}

.pokemon-card .card-info{
    display: flex;
    justify-content: space-between;
    background-color: white;
    padding: 80px 30px 50px;
    margin-top: -85px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.pokemon-card .card-img{
    width: 350px;
    height: 350px;
}

.pokemon-card .card-info .ability{
    width: 180px;
}

.pokemon-card .card-info h3{
    font-size: 20px;
    margin-bottom: 15px;
    border-bottom: solid black 1px;
}

.pokemon-card .card-info .status ul li{
    border-bottom: solid black 1px;
    font-size: 15px;
    margin-bottom: 5px;
}

.pokemon-card .card-info .ability ul li{
    border-bottom: solid black 1px;
    font-size: 15px;
    margin-bottom: 5px;
}

.electric-type{
    background-color:#FFCA3A ;
}

.fire-type{
    background-color: #FF9F1C;
}

.grass-type{
    background-color: #8AC926 ;
}

.water-type{
    background-color: #A9DEF9;
}

.ghost-type{
    background-color: #9F86C0;
}

.dragon-type{
    background-color: #ffb700;
}